@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*{
  margin: 0;
  padding: 0;
  text-transform: capitalizea;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root{
  --main-color : #009C9E;
  font-size: 100%;
}


.container{
  width: 90%;
  max-width: 1050px;
  margin: 0 auto;
  padding: 2.5rem 0;
}


/* ============================================================================================================================ */
/* ============================================================================================================================ */
/* ================================================== HEADER STARTS ========================================================== */
/* ============================================================================================================================ */
/* ============================================================================================================================ */


.header{
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_image{
  height: 100%;
}

.header_image img{
  width: 100%;
  height: 100%;
}

.header_links img{
  margin: 0 .8rem;
  /* border: 2px solid red;  */
  cursor: pointer;
}


/* ============================================================================================================================ */
/* ============================================================================================================================ */
/* ================================================== HEADER ENDS ========================================================== */
/* ============================================================================================================================ */
/* ============================================================================================================================ */




/* ============================================================================================================================ */
/* ============================================================================================================================ */
/* ================================================== HERO STARTS ========================================================== */
/* ============================================================================================================================ */
/* ============================================================================================================================ */


.hero{
  position: relative;
  width: 100%;
  height: 500px;
  border: 4px solid var(--main-color);
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  margin-bottom: 15rem;
}
.cliped_path{
  content: "";
  position: absolute;
  top: 100%;
  left: 30%;
  transform: translateX(-30% );
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-top: 4px solid white;
  border-left: 4px solid var(--main-color);
  border-bottom: 4px solid var(--main-color);
  border-right: 4px solid var(--main-color);
  clip-path: polygon(0 0 , 100% 0 , 100% 100% , 100% 100%);
}

.cliped_path::after{
  content: "";
  position: absolute;
  top: -7px;
  left: -6px;
  width: 5px;
  height: 150%;
  background-color: var(--main-color);
  transform-origin: top;
  transform: rotate(-45deg);
}

.hero_left{
  height: 100%;
  margin-right: 3rem;
}
.hero_left img{
  height: 100%;
}
.hero_right{
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hero_title{
  color: var(--main-color);
  margin-bottom: .5rem;
}

.hero_details{
  padding: 2rem 0;
  flex: 1;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h_detail{
  display: flex;
  align-items: center;
}

.h_detail_img{
  margin-right: 2rem;
}

.h_detail_disc_nested{
  display: flex;
  align-items: center;
}

.h_detail_disc_nested span{
  font-weight: 800;
  width: 30px;
}

/* ============================================================================================================================ */
/* ============================================================================================================================ */
/* ================================================== HERO ENDS ========================================================== */
/* ============================================================================================================================ */
/* ============================================================================================================================ */











/* ============================================================================================================================ */
/* ============================================================================================================================ */
/* ================================================== MAIN SECTION STARTS ========================================================== */
/* ============================================================================================================================ */
/* ============================================================================================================================ */







.main_sections{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto auto;
  grid-gap: 5rem;
  margin-bottom: 20rem;
}

.main_section{
  display: flex;
  
}

.main_sec_details{
  flex: 1;
}

.main_sec_image{
  flex: .4;
  margin-right: 2rem;
}

.main_sec_image img{
  width: 100%;
  height: 100%;
}
.main_sec_details_content{
  margin-top: 1.5rem;
}
.main_detail{
  margin: 1rem 0;
  display: flex;
  align-items: center;
}
.m_detail_image{
  width: 35px;
  height: 35px;
}
.m_detail_image img{
  /* width: 100%; */
  height: 100%;
}


.m_d_texts{
  /* width: 200px; */
  /* border: 2px solid red; */
  margin-left: 1rem;
}
.m_d_texts p{
  font-size: .9rem;
}

.main_sec_details_title{
  font-size: 1.1rem;
  color: var(--main-color);
  margin-bottom: .2rem  ;
}
.main_sec_details_title_2{
  font-size: 1rem;
}

/* ============================================================================================================================ */
/* ============================================================================================================================ */
/* ================================================== MAIN SECTION ENDS ========================================================== */
/* ============================================================================================================================ */
/* ============================================================================================================================ */








/* ============================================================================================================================ */
/* ============================================================================================================================ */
/* ================================================== FOOTER STARTS ========================================================== */
/* ============================================================================================================================ */
/* ============================================================================================================================ */




footer{
  display: flex;
  justify-content: center;
}

footer img{
  margin: 0 1rem;
}




/* ============================================================================================================================ */
/* ============================================================================================================================ */
/* ================================================== FOOTER ENDS ========================================================== */
/* ============================================================================================================================ */
/* ============================================================================================================================ */

